$colorBlanco: var(--colorBlanco);
$verdeClaro : var(--verdeClaro);
$verdeOscuro: var(--verdeOscuro);
$grisClaro  : var(--grisClaro);
$grisOscuro : var(--grisOscuro);

p{
    text-align: justify;
}

h6 {
    font-family: 'Oswald';
    color: $verdeClaro;
    font-size: 1.4em;
    font-weight: 600;
}
