
$colorBlanco: var(--colorBlanco);
$verdeClaro : var(--verdeClaro);
$verdeOscuro: var(--verdeOscuro);
$grisClaro  : var(--grisClaro);
$grisOscuro : var(--grisOscuro);
.banner {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%; 
    .bannerSuperior{
        background-color: #f3f3f3;
        min-height: 1.5em; 
        border-bottom: 1px solid #d7d4d4;
    }
    .bannerInferior{
        background-color: $verdeOscuro;
        height: 5em;
        max-height: 5em;
        border-top: 1px solid #918585;
        border-bottom: 1px solid #918585;
    }
    img{      
        margin-top: -26px;
    }
    h1{
        color: #fdfdfd;
        text-shadow: 1px 1px $verdeClaro, 1.2px 1.2px $verdeClaro;
        font-size: 2.5em;
        margin-top: 9px;
   }
}

.cardPrincipal{
    width: 22em;
    margin: 10em auto;
    border-radius: 0;
    border-top: 5px solid $verdeClaro;
    > div{
      background: #f7f7f7;
    }   
}

.titleInicio{
    margin: 0.5em;
    text-align: center;
    color: $verdeOscuro; 
    text-shadow: -0.03em 0.03em #fff6e6, -0.08em 0.08em #e7dcd7;
    font-weight: bold;
    font-family: "Oswald";  
    margin-bottom: 0.5em;
}

.piePagina{
    border-radius: 2px;
    border: 1px solid #CECECE;
    height: 1px;
    background: $grisOscuro;
    min-height: 1.8em;
    color: $colorBlanco;
    padding: 5px;
    margin-top: 3em;
    font-size: 0.9em;
    span{
        display: block; 
    }
    .implesoft{    
        font-weight: bold;
        font-size: 10px;
    }
}

/*
.react-datepicker-popper {
    z-index: 9999 !important;
}*/

.labelEditor{
    color: #6b6b6b;
    font-weight: 500;
}


/*
fieldset {
    border: none; 
    padding: 0; 
}

fieldset button {
    border: 1px solid #000; 
    padding: 5px 10px; 
}*/



/*lg*/
@media (max-width: 992px) { 
    .container {
        width: 94%;
    }
    .banner h1{
        font-size: 1.6em;
    }
}

/*md*/
@media (max-width: 768px) { 
    .container {
        width: 92%;
    }
}

/*sm*/
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    .banner h1{
        font-size: 1.3em;
        text-align: center;
        margin-left: 1em;
    }
    .piePagina{
        min-height: 4.4em;
    }
}

/*xs*/
@media (max-width: 576px) {
    .container {
        width: 88%;
    }
    .banner h1 {
        font-size: 1.1em;
        text-align: center;
        margin-left: 3.1em;
    }
    .piePagina{
        min-height: 4.5em;
    }    
    .cardPrincipal{
        width: 22em;
        margin: 8em auto;       
    }
}