
.iconoSubirPdf{
    max-width: 6%;
}

.iconoSubirAdjunto{
    max-width: 8%;
}

.files-dropzone{
    background-color: #fbfbfb;  
    border-color: #cdcdcd; 
    border-radius: 10px;    
    border-style: dotted;
    border-width: 2px;
    padding: 5px;
    cursor: pointer;
}

.fileContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    span{
        background:#ec1c21;
        color: white;
        padding: 3px;
    }
    label{
        margin-left: 0.5em;
        background: #dddddd;
        padding: 0.344em;
        color: #645e5d;
        width: 100%;
    }
}

.fileImg{
    width: 10em;
    max-width: 10em;
    border: 3px solid #cacaca;
    border-radius: 5px;
    min-height: 10em;
    max-height: 10em;
    cursor: pointer
}

.fileImgShow{
    width: 100%;
    height: 100%;    
    border-color: #cdcdcd;
    border-radius: 10px;
    border-style: double;
    border-width: 2px;
}

.fileInd{
    display: flex;
    flex-direction: column;
    max-width: 10em;
    margin: 0 auto;
    padding-right: 1em;
    padding-bottom: 1em;
    div{
        width: 100%;
        text-align: center;
        background: #ec1c21;
        color: white;
        border-radius: 4px;
    }
    .eliminar{
        cursor: pointer;
        transition: all 0.3s, left 0.3s;
        margin-top: 0.2em;
    }
    .eliminar:hover{
        border-radius: 6px;
        background: #c71a1e;
        transition: all 0.3s, left 0.3s;
    }
}

.descripcionSubida{
    font-family: 'Oswald';
    color: #666;       
    font-weight: bold;
}

.fotografia{
    width: 120px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    background-color: #f3f3f3;   
    img{
        width: 95%; 
        height: 95%; 
        object-fit: cover;
        padding: 5px 5px 5px 5px;
    }
}

.firmaPersona{
    width: 300px;
    height: 100px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    background-color: #f3f3f3;
    img{
        width: 95%; 
        height: 95%; 
        object-fit: cover;
        padding: 5px 5px 5px 5px;
    }
}

.msgAlert{
    background-color: rgb(237, 237, 237);   
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    .avatar{
      margin-right: 20px;
      margin-top: 6px;
    }
  }