body{
    --colorBlanco: #fdfdfd;
    /*--verdeClaro: #80C900; 
    --verdeOscuro: #44ac34;*/
  
    --verdeOscuro: #ec1c21;
    --verdeClaro: #c33f3f; 
    --grisClaro: #cdcdcd;
    --grisOscuro: #868686;
    --rojoOscuro: #f33602;
    background-color: #f8f9fa;
    color: #868686;
    font-weight: 400;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 0; 
    overflow-x: hidden;  
}

.container{
    width: 80%;
    margin: auto;
}

.inputGeneral{
    width: 100%;
}

.paddingFrm{
    padding: 5px;
}

a{
    color: var(--verdeOscuro);
    transition: all .5s ease-in-out;
 }
 
a:hover{
    color: var(--verdeClaro);
    text-decoration: none;
    transition: all .5s ease-in-out;
}
 